body {
    background-color: #051D3B;
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    margin: 0 32px;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.logo {
    margin-right: 45px;
}

.input-bar {
    height: 56px;
    width: 50%;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.16);
    margin: 0 15px;
}

.input-bar::placeholder{
    padding-left: 10px;
    color: #FFFFFF;
    opacity: 0.64;
}

.author{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 272px;
}

.author-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.author-name {
    width: 42px;
    padding: 0px 0px 0px 12px;
    color: #FFFFFF;
}

main {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 190px;
}

.menu-header {
    font-size: 12px;
    letter-spacing: 0.4em;
    color: #FFFFFF;
    text-transform: uppercase;
    height: 18px;
}

.menu-item {
    display: flex;
    align-items: center;
}

.icon {
    border: 12.8px solid #5081FB;
    display: inline-block;
    background-color: #5081FB;
    border-radius: 13px;
    margin: 16px 16px 0 0;
}

a {
    margin-top: 16px;
    text-decoration: none;
    color: #FFF;
}

.code-area {
    width: 50%;
    margin: 0 15px;
}

.code-editor-background{
    background: #000;
    margin: 0 25px;
    border-radius: 8px;
}

.text-field{
    height: 270px;
    background: rgb(0, 0, 0);
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #FFF;
    width: 90%;
    padding-left: 15px;
}

.text-field:focus{
    outline: none;
}

.border-text-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 344px;
    border-radius: 8px;
    background: #6BD1FF;
}

.dots{
    display: flex;
    justify-content: space-between;
    margin: 12PX;
    width: 52px;
}

.syntax-highlight-button button{
    height: 56px;
    width: 100%;
    margin-top: 16px;
    letter-spacing: 0.1em;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-family: Inter;
    color: #FFFFFF;
}

.input-field{
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border-style: none;
    height: 56px;
    width: 100%;
}

.project-description{
    height: 80px;
}

.input-field::placeholder{
    padding-left: 10px;
    color: #FFFFFF;
    opacity: 0.64;
}

.project-data{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 272px;
}

.project-item{
    text-decoration: none;
    padding-top: 16px;
}

.select-title{
    margin-top: 40px;
}

.select-input{
    border-radius: 8px;
    border-style: none;
    height: 56px;
    width: 100%;
    color: rgba(255, 255, 255, 0.60);
    padding-left: 10px;
    margin-top: 16px;
    background: rgba(255, 255, 255, 0.16);
}

select option {
    background: rgba(255, 255, 255, 0.16) !important;
    color: #051d3b;
}

.color-picker{
    margin-top: 16px;
    padding: 0;
}

.submit-button button{
    height: 56px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #5081FB;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: Inter;
    color: #051d3b;
    margin-top: 16px;
}




