body {
    background-color: #051D3B;
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    margin: 0 32px;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.logo {
    margin-right: 55px;
}

.input-bar {
    height: 56px;
    width: 50%;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.16);
    margin: 0 15px;
    color: #FFF;
    padding-left: 10px;
}

.input-bar::placeholder{
    color: #FFFFFF;
    opacity: 0.64;
}

.input-bar:hover{
    background-color: rgba(255, 255, 255, 0.24);
}

.input-bar:focus{
    background-color: rgba(255, 255, 255, 0.24);
}

.author{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 280px;
}

.author-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.author-name {
    width: 42px;
    padding: 0px 0px 0px 12px;
    color: #FFFFFF;
}

main {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 200px;
    
}

.menu-header {
    font-size: 12px;
    letter-spacing: 0.4em;
    color: #FFFFFF;
    text-transform: uppercase;
    height: 18px;
}

.menu-item {
    display: flex;
    align-items: center;
    opacity: 0.16;
    margin-right: 10px;
}

.menu-item:hover{
    opacity: 0.64;
}

.menu-item:active {
    opacity: 1;
}

.icon {
    border: 12.8px solid #5081FB;
    display: inline-block;
    background-color: #5081FB;
    border-radius: 13px;
    margin: 16px 16px 0 0;
}

a {
    display: inline;
    margin: 16px 0 0 0;
    text-decoration: none;
    color: #FFF;
}

.code-area {
    width: 50%;
    margin: 0 15px;
}

.code-editor-background{
    background: #000;
    margin: 0 25px;
    border-radius: 8px;
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0,0.60);
}

.text-field{
    height: 270px;
    background: rgb(0, 0, 0);
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #FFF;
    width: 90%;
    padding-left: 15px;
    resize: none;
}

.text-field:focus{
    outline: none;
}

.border-text-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    border-radius: 8px;
    background: #6BD1FF;
}

.dots{
    display: flex;
    justify-content: space-between;
    margin: 12PX;
    width: 52px;
}

.syntax-highlight-button button{
    height: 56px;
    width: 100%;
    margin-top: 16px;
    letter-spacing: 0.1em;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-family: Inter;
    color: #FFFFFF;
}

.syntax-highlight-button button:active{
    border: 4px solid rgba(80, 129, 251, 0.24);
}

.syntax-highlight-button button:hover{
    box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.274);
    transition: 100ms;
}

.input-field{
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border-style: none;
    height: 56px;
    width: 100%;
    color: #FFF;
    padding-left: 10px;
}

.input-field:hover{
    background-color: rgba(255, 255, 255, 0.24);
    transform: perspective(2px)
}

.input-field:focus{
    outline: 2px solid #5081FB;
    outline-offset: -1px;
    background-color: rgba(255, 255, 255, 0.24);
}

.project-description{
    height: 80px;
}

.input-field::placeholder{
    color: #FFFFFF;
    opacity: 0.64;
}

.project-data{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 272px;
}

.project-item{
    text-decoration: none;
    padding-top: 16px;
}

.select-title{
    margin-top: 40px;
}

.select-input{
    border-radius: 8px;
    border-style: none;
    height: 56px;
    width: 100%;
    color: rgba(255, 255, 255, 0.60);
    padding-left: 10px;
    margin-top: 16px;
    background: rgba(255, 255, 255, 0.16);
}

.select-input:hover{
    background-color: rgba(255, 255, 255, 0.24);
}

.select-input:focus{
    outline: 2px solid #5081FB;
    outline-offset: -1px;
    background-color: rgba(255, 255, 255, 0.24);
}

select option {
    background: rgba(255, 255, 255, 0.16) !important;
    color: #051d3b;
}

.color-picker{
    margin-top: 16px;
    padding: 0;
}

.submit-button button{
    height: 56px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #5081FB;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: Inter;
    color: #051d3b;
    margin-top: 16px;
}

.submit-button button:hover {
    background: #7BA4FC;
    box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.274);
    transition: 100ms;
}

.submit-button button:active {
    border: 4px solid rgba(80, 129, 251, 0.72);
}

.burguer-menu{
    display: none;
    width: 280px;
}

.magnifier {
    display: none;
}

@media screen and (max-width: 940px){
    .author{
        display: none;
    }

    .burguer-menu{
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 600px){
    .magnifier{
        display: flex;
        justify-content: center;
        margin-right: 15px;
    }

    .input-bar{
        display: none;
        justify-content: flex-end;
        
    }

    .menu {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .code-area{
        width: auto;
    }

    .project-data{
        width: auto;
        margin: 16px 0 0 0;
    }

    .input-field{
        width: 95%;
    }

    .color-picker {
        width: 100%;
    }
}



